body{
   
    text-align: center;
    background-image: url('../../../assets/img/rascacielos-oficinas-distrito-negocios.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed74; 
    height: 100%;  
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items:flex-end;
    height: 100%;
    width: 100%;
 
    
   
    background-color: rgba(125, 210, 243, 0.7);
}